<h1>Help us find more</h1>

<%= simple_form_for(@restaurant) do |form| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :address %>
  </div>

  <div class="field">
    <%= form.input :phone %>
  </div>

  <div class="field">
    <%= form.input :category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%= link_to "Back", restaurants_path %>
  
<% end %>