<h2><%= @restaurant.name %></h2>

<p>Address: <%= @restaurant.address %></p>
<p>phone: <%= @restaurant.phone %></p>
<p>category: <%= @restaurant.category %></p>

<%= link_to "Back", restaurants_path %>

<%= link_to "See reviews of this restaurant!", restaurant_reviews_path(@restaurant) %>