<h1>Reviews</h1>

<h2><%= @restaurant.name %></h2>

<p>
  Reviews
  <ul>
    <% @reviews.each do |review| %>
      <li>
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to "Back", restaurants_path %>

<%= link_to "To comment", new_restaurant_review_path %>